@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
/*#region*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*#endregion*/

/* Default values */
/*#region*/
body {
    background: hsl(0, 0%, 5%);
    font-family: roboto;
    color: #fff;
    font-size: 1.5rem;
    overflow: hidden;
    display: flex;
    height: 100vh;
    align-items: center;
}

.page {
    width: var(--sectionWidth);
    position: relative;
    z-index: 1;
    background-color: var(--backgroundColour);
    padding-bottom: var(--lMargin);
}

hr {
    border-color: rgb(161, 161, 161);
    margin-bottom: var(--lMargin);
}

button {
    width: 200px;
    height: 50px;
    margin: var(--lMargin);
    border-radius: var(--border-radius);
    font-family: inherit;
    font-size: calc(var(--mMargin)*1.25);
    font-weight: 600;
    transition: all 0.5s;
    padding: var(--sMargin);
}

h2 {
    padding-bottom: var(--mMargin);
}
/*#endregion*/

/* Variables */
/*#region*/
:root {
    --border-radius: 25px;

    --backgroundColour: hsl(0, 0%, 6%);
    --xsMargin: 0.5rem;
    --sMargin: 0.75rem;
    --mMargin: 1rem;
    --lMargin: 2.5rem;
    --xlMargin: 3.75rem;
    --xxlMargin: 6.25rem;

    --sectionWidth: 80vw;
}
/*#endregion*/

/* Border Animation */
/*#region*/
.mainCard {
    max-width: calc(var(--sectionWidth) + 10vw);
    width: 100%;
    margin: 10vh auto;
    border-radius: var(--border-radius);
    position: relative;
    padding: 2px;
}

.mainCard .mainCard-inner {
    max-width: calc(var(--sectionWidth) + 10vw);
    height: min(80vh, 600px);
    padding: var(--xlMargin) var(--xlMargin) 0 var(--xlMargin);
    background: var(--backgroundColour);
    border-radius: var(--border-radius);
}

.mainCard::before,
.mainCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    45deg,
    #920c11,
    #ffca3a,
    #7cc900,
    #0e5a8a,
    #4f2d80,
    #ff6600
  );
  background-size: 500%;
  z-index: -1;
  animation: glow 20s linear infinite;
  width: 100%;
  border-radius: var(--border-radius);
}

.mainCard::after {
    filter: blur(10px);
    transform: translate3d(0, 0, 0); /* For Safari */
}

@keyframes glow {
0% {
    background-position: 0 0;
}

50% {
    background-position: 100% 0;
}

100% {
    background-position: 0 0;
}
}
/*#endregion*/

/* Scrollbar Styling */
/*#region*/
.mainCard-inner {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
    
::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 25%);;
    border: none;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 20px;
}
/*#endregion*/

/* Main Page Styling */
/*#region*/
.homePage {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: var(--sectionWidth);
    padding-left: 1px;
    overscroll-behavior-y: auto;
}

.title {
    font-size: var(--xlMargin);
    margin-block: var(--lMargin);
}

.info {
    margin-block: var(--lMargin);
    max-width: 60ch;
}

.icon-container {
    display: flex;
    flex-direction: row;
}

.iconLink {
    display: inline-block;
    background-color: white;
    padding: var(--xsMargin);
    margin-right: var(--mMargin);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.contact {
    margin-left: 0;
}

.contact > *{
    text-decoration: none;
    color: black;
}
.contact:is(:hover, :focus), .iconLink:is(:hover, :focus) {
    transform: scale(1.1);
    transition: all 0.5s;
}

.homeIcon {
    height: 35px;
    width: 35px;
}

.spacer {
    height: 80vh;
    pointer-events: none;
    background-color: transparent;
}

.enable-scroll {
    pointer-events: auto;
}
/*#endregion*/

/* Skills Section */
/*#region*/
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skillIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--sMargin);
    background-color: #0e5a8a;
    margin-right: var(--xlMargin);
    margin-top: var(--lMargin);
    border-radius: calc(var(--border-radius)/2);
    min-width: 150px;
}

.skillIconImg {
    margin: var(--sMargin); 
    height: 50px;
    width: 50px;
}
/*#endregion*/

/* Project Section*/
/*#region*/
.dropdownInput, 
.dropdownCloser, 
.dropdownInput:checked~.dropdownOpener {
    display: none;
}

.dropdownInput:checked~.dropdownCloser {
    display: block;
    color:#0e5a8a;
}

.dropdownContent {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
    margin-bottom: 0;
}

.dropdownInput:checked~.dropdownContent {
    max-height: 300px;
    transition: all 1s;
    margin-bottom: calc(var(--mMargin)*1.w5);
}

.dropdownLabel {
    position: relative;
    display: block;
    cursor: pointer;
}

.dropdownCloser, .dropdownOpener {
    line-height: 1.5;
    transition: all 0.25s;
}

.dropdownCloser:is(:hover,:focus,:active), .dropdownOpener:is(:hover,:focus,:active) {
    color:#0e5a8a;
}

.dropdownCloser {
    transition: all 0.25s;
}

.websiteInfo {
    margin-block: var(--mMargin);
    max-width: 60ch;
    font-size: 1.3rem;
}

.websiteLink {
    font-size: 1.2rem;
}
/*#endregion*/

/* Contact Section*/
/*#region*/

.contactPage {
    padding-bottom: 0;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form-myDetails {
    display: flex;
}

.contact-form-details {
    border: none;
    margin: var(--default-margin);
    display: flex;
    flex-direction: row;
}

.contact-form-details-name {
    margin: var(--mMargin);
    width: calc(var(--sectionWidth)/6 - var(--mMargin));
    margin-left: 0;
}

.contact-form-details-email {
    margin-block: var(--mMargin);
    width: calc(var(--sectionWidth)/3 - var(--mMargin));
}

.contact-form-message {
    margin-inline: var(--mMargin);
    width: calc(var(--sectionWidth)/2 - var(--mMargin));
    height: calc(var(--sectionWidth)/4);
    margin-left: 0;
}

.contact-form-details > *, .contact-form-message {
    border:  1px solid black;
    background-color: rgb(78, 78, 78);
    padding: 1rem;
    color: white;
}

.contact-submit-button {
    margin-top: var(--mMargin);
    margin-left: 0;
    width: calc(40vw - var(--mMargin));
}
/*#endregion*/

/* Responsive Design*/
/*#region*/


/* 480px */
@media only screen and (max-width: 480px) and (max-height: 950px) {
    .title, .info, .contact{
        margin-top: calc(var(--mMargin) *1.2);
        margin-bottom: var(--mMargin);
    }

    .info {
        font-size: calc(var(--mMargin) * 1.4);
    }
}
@media only screen and (max-width: 480px) and (max-height: 810px) {
    .title, .info, .contact{
        margin-top: var(--mMargin);
        margin-bottom: var(--mMargin);
    }

    .info {
        font-size: calc(var(--mMargin) * 1.2);
    }
}
@media only screen and (max-width: 480px) {
    h2 {
        text-align: center;
    }
    .mainCard .mainCard-inner {
        padding: var(--sMargin) var(--sMargin) 0 var(--sMargin);
    }

    .page {
        width: 100%;
    }

    .skills {
        justify-content: center;
    }

    .skillIcon {
        margin: var(--mMargin);
    }

    .contact-form-details {
        flex-direction: column;
    }

    .contact-submit-button {
        margin-inline: auto;
        width: calc(var(--sectionWidth) / 1.2 - var(--mMargin));
    }

    .contact-form-details {
        margin: auto;
    }

    .contact-form-message, .contact-form-details-email, .contact-form-details-name {
        margin-block: var(--xsMargin);
        margin-inline: auto;
        width: calc(var(--sectionWidth) / 1.2 - var(--mMargin));
    }
    
    .contact-form-message {
        height: calc(var(--sectionWidth) / 2);
    }
}
/*#endregion*/